fieldset {
  min-width: 0;
  margin: 0;
  padding: 0;
  border: 0;
}
header {
  padding: 0 10px;
  text-align: right;
  max-width: 100%;
  @include breakpoint('md') {
    max-width: 248px;
    justify-self: end;
  }
}

body {
  display: grid;
  grid-template-columns: 1fr;
  gap: 123px;
  background-color: var(--fung-white-default);
  max-width: 1080px;
  margin: 0 auto;
  padding: 50px 10px;
  @include breakpoint ('md') {
    grid-template-columns: 1fr 3fr;
    padding: 50px 20px;
  }
}
main {
  padding: 0 10px;
}
