h1,
h2,
h3,
h4 {
  font-family: $mfung-heading-fonts;
  color: var(--fung-black-default);
}
h1,
h2 {
  font-weight: 700;
}
h3,
h4 {
  font-weight: 500;
}
p,
blockquote,
pre,
dl,
dd,
ol,
ul,
form,
legend,
figure,
table,
th,
td,
caption {
  font-family: $mfung-text-fonts;
  color: var(--fung-black-lighter);
}

p + p:last-child {
  margin-bottom: 0;
}
pre {
  background-color: var(--fung-accent-one-light);
  padding: 12px;
  max-width: 640px;
  margin-bottom: 50px;
}
code {
  padding: 2px 4px;
  border-radius: 5px;
  white-space: pre-wrap;
  font-family: $mfung-code-fonts;
}
