.col-primary-default {
  color: var(--fung-primary-default);
}
.col-accent-one {
  color: var(--fung-accent-one-default);
}
.col-accent-one-dark {
  color: var(--fung-accent-one-dark);
}
.col-accent-one-darker {
  color: var(--fung-accent-one-darker);
}
.col-accent-one-lightest {
  color: var(--fung-accent-one-lightest);
}
.col-white-default {
  color: var(--fung-white-default);
}
.col-white-dark {
  color: var(--fung-white-dark);
}
.col-white-darker {
  color: var(--fung-white-darker);
}
.col-black-default {
  color: var(--fung-black-default);
}
.col-black-light {
  color: var(--fung-black-light);
}
.col-black-lighter {
  color: var(--fung-black-lighter);
}
.bg-col-primary-default {
  background-color: var(--fung-primary-default);
}
.bg-col-accent-one-dark {
  background-color: var(--fung-accent-one-dark);
}
