@media (prefers-color-scheme: dark) {
  body {
    background: var(--fung-primary-darker);
  }
  .mf-header {
    background-color: var(--fung-black-light);
  }
  .mf-navlink {
    border-left: 1px solid hsla(0,0%,0%,.2);
    &:hover {
      background-color: var(--fung-black-lighter);
    }

    &:hover .mf-navlink_text {
      color: var(--fung-white-dark)
    }
  }
  .mf-table_cell .filled {
    fill: var(--fung-accent-one-dark)
  }
  .mf-table_cell .unfilled {
    fill: var(--fung-black-light)
  }
  .mf-logo a, .mf-logo a use:first-of-type {
    color: var(--fung-white-default);
  }
  .mf-navlink_text {
    color: var(--fung-white-default);
  }
  h1,h2,h3,h4 {
    color: var(--fung-white-default);
  }
  main .mf-divider {
    background-color: var(--fung-primary-light);
  }
  header {
    background-color: var(--fung-primary-darker);
  }
  p, blockquote, pre,
  dl, dd, ol, ul,
  form, legend,
  figure,
  table, th, td, caption {
    color: var(--fung-white-dark);
  }
  .mf-body,
  .mf-caption:not([class*="col-"]) {
    color: var(--fung-white-darker);
  }
  .#{$namespace}-mobile {
    background-color: var(--fung-black-lighter);
    .#{$namespace}-navlink_text {
      color: var(--fung-white-default)
    }
  }
  .mf-hero--pink {

    background-color: var(--fung-black-default);
    background-image: none;
    animation-play-state: paused;

    &::before {
      background-image: url('/images/topography-dark.svg');
    }

    h1 {
      color: var(--fung-white-dark);
    }
  }
  .col-black-light {
    color: var(--fung-white-darker);
  }
  .mf-table_header {
    color: var(--fung-white-default);
  }
  .mf-table_cell {
    color: var(--fung-grey-default);
  }
  .mf-section {
    background-color: var(--fung-primary-darker);
  }
  .mf-section--primary {
    background-color: var(--fung-black-light);
    .mf-callout {
      color: var(--fung-grey-default);
    }
  }
  
  .col-black-default {
    color: var(--fung-white-default);
  }
  .mf-post_copy {
    background-color: var(--fung-black-light);
  }
  .mf-post_image {
    filter: brightness(0.6) contrast(1.2) grayscale(100%);
  }
  .mf-post:hover .mf-post_image {
    filter: brightness(0.6) contrast(1.2) grayscale(0);
  }
  .mf-image,
  img {
    filter: brightness(0.6) contrast(1.2);
  }
  .mf-footer {
    background-color: var(--fung-black-light);
  }
  .#{$namespace}-social,
  .#{$namespace}-footer_social {
    a:hover svg {
      color: var(--fung-accent-one-default);
      transition: color .3s ease;
    }
    svg {
      color: var(--fung-white-default);
      transition: color .3s ease;
    }
  }
}