[data-dark] * {
  transition: background-color 0.3s ease, color 0.3s ease;
}
[data-dark="false"] {
  .light {
    opacity: 1;
    transition: opacity 0.6s ease;
  }
  .dark {
    opacity: 0;
    transition: opacity 0.6s ease;
  }
}
[data-dark="true"] {
  .light {
    opacity: 0;
    transition: opacity 0.6s ease;
  }
  .dark {
    opacity: 1;
    transition: opacity 0.6s ease;
  }
  body {
    background: var(--fung-black-default);
  }

  .#{$namespace}-header {
    background-color: var(--fung-black-light);
    button[aria-open="true"] {
      background-color: var(--fung-accent-one-default);
      color: var(--fung-black-default);
    }
  }
  .#{$namespace}-navlink {
    border-left: 1px solid hsla(0, 0%, 0%, 0.2);
    &:hover {
      background-color: var(--fung-black-lighter);
    }

    &:hover .#{$namespace}-navlink_text:not([aria-open="true"]) {
      color: var(--fung-white-dark);
    }
  }
  .#{$namespace}-link-inline {
    color: var(--fung-accent-one-default);
  }
  .#{$namespace}-field {
    border-color: transparent;
    background-color: var(--fung-black-light);
    color: var(--fung-grey-default);
    &:focus {
      outline-color: var(--fung-accent-one-default);
      box-shadow: none;
    }
  }
  .#{$namespace}-button-primary {
    background-color: var(--fung-black-default);
    color: var(--fung-accent-one-default);
    border: 2px solid var(--fung-accent-one-default);

    &:hover {
      background-color: mf-tint($fung-black-default, 15);
    }

    &:focus {
      background-color: var(--fung-accent-one-default);
      // box-shadow: 0 0 0 2px var(--fung-accent-one-default);
    }
  }
  .#{$namespace}-standfirst {
    color: var(--fung-white-darker);
  }
  .#{$namespace}-label {
    color: var(--fung-white-darker);
  }
  .#{$namespace}-badge-react {
    background-color: var(--fung-accent-two-light);
    color: var(--fung-accent-two-darker);
  }
  .#{$namespace}-badge-html {
    background-color: var(--fung-error-light);
    color: var(--fung-error-darker);
  }
  .#{$namespace}-badge-css {
    background-color: var(--fung-success-light);
    color: var(--fung-success-darker);
  }
  .#{$namespace}-badge-javascript {
    background-color: var(--fung-warning-light);
    color: var(--fung-warning-darker);
  }
  .#{$namespace}-table_cell .filled {
    fill: var(--fung-accent-one-dark);
  }
  .#{$namespace}-table_cell .unfilled {
    fill: var(--fung-black-light);
  }
  .#{$namespace}-logo a,
  .#{$namespace}-logo a use:first-of-type {
    color: var(--fung-white-default);
  }
  .#{$namespace}-navlink_text {
    color: var(--fung-white-default);
  }
  h1,
  h2,
  h3,
  h4 {
    color: var(--fung-white-default);
  }
  main .#{$namespace}-divider {
    background-color: var(--fung-primary-light);
  }
  header {
    background-color: var(--fung-black-default);
  }
  pre {
    background-color: var(--fung-black-light);
  }

  .#{$namespace}-body,
  .#{$namespace}-caption:not([class*="col-"]),
  .#{$namespace}-quote *,
  .#{$namespace}-list-item,
  figcaption {
    color: var(--fung-white-darker);
  }
  .#{$namespace}-mobile {
    background-color: var(--fung-black-lighter);
    .#{$namespace}-navlink_text {
      color: var(--fung-white-default);
    }
  }
  .#{$namespace}-hero--pink {
    background-color: var(--fung-black-default);
    background-image: none;
    animation-play-state: paused;

    &::before {
      background-image: url("/images/topography-dark.svg");
    }

    h1 {
      color: var(--fung-white-dark);
    }
  }
  .col-black-light {
    color: var(--fung-white-darker);
  }
  .#{$namespace}-table_header {
    color: var(--fung-white-default);
  }
  .#{$namespace}-table_cell {
    color: var(--fung-grey-default);
  }
  .#{$namespace}-section {
    background-color: var(--fung-black-default);
  }
  .#{$namespace}-section--primary {
    background-color: var(--fung-black-light);
    .#{$namespace}-callout:not([class*="col-"]) {
      color: var(--fung-grey-default);
    }
  }

  .col-black-default {
    color: var(--fung-white-default);
  }
  .#{$namespace}-post_copy {
    background-color: var(--fung-black-light);
  }
  .#{$namespace}-post_image {
    filter: brightness(0.85) grayscale(100%);
  }
  .#{$namespace}-post:hover .#{$namespace}-post_image {
    filter: brightness(0.85) grayscale(0);
  }
  .#{$namespace}-image,
  img {
    filter: brightness(0.85);
  }
  .#{$namespace}-footer {
    background-color: var(--fung-primary-darker);
  }
  .#{$namespace}-social,
  .#{$namespace}-footer_social {
    a:hover svg {
      color: var(--fung-accent-one-default);
      transition: color 0.3s ease;
    }
    svg {
      color: var(--fung-white-default);
      transition: color 0.3s ease;
    }
  }
}
