// @mixin mb-50 {
//   margin-bottom: 50px;
// }

.mb-5 {
  margin-bottom: 5px;
}
.mb-0 {
  margin-bottom: 0px;
}
.mb-15 {
  margin-bottom: 15px;
}
.mb-30 {
  margin-bottom: 30px;
}
.mb-50 {
  margin-bottom: 50px;
}