.#{$namespace}-field {
  padding: 5px;
  border: 2px solid $fung-primary-default;
  font-size: 16px;
  line-height: 20px;
  font-family: $mfung-text-fonts;

  @include breakpoint('sm') {
    font-size: 20px;
    line-height: 30px;
  }

  &:focus {
    outline: 3px solid $fung-accent-one-default;
    outline-offset: 0;
    box-shadow: inset 0 0 0 2px $fung-primary-default;
  }
}