.#{$namespace}-label {
  display: block;
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 25px;
  color: $fung-black-default;

  @include breakpoint('sm') {
    font-size: 18px;
    line-height: 25px;
  }
}