<form class="mf-form" action="https://getform.io/f/8e46563b-d236-48fc-a90a-65e033ee29d0" method="POST">
  <label for="email" class="mf-label">Email Address</label>
  <input class="mf-field" name="email_address" id="email" type="email" />
  <label for="subject" class="mf-label">Subject Line</label>
  <input class="mf-field" name="subject_line" id="subject" type="text" />
  <label for="message" class="mf-label">Message</label>
  <textarea class="mf-field" name="message" rows="5" id="message"></textarea>
  <div>
    <button class="mf-button mf-button-primary" type="submit" id="submit">Send message</button>
  </div>
</form>