<div class="mf-logo">
  <a href="/">
    <span class="visually-hidden">Homepage</span>
    <svg xmlns="http://www.w3.org/2000/svg" class="mf-logo" width="150" height="90" fill="none" viewBox="0 0 150 90">
      <use xlink:href="#logo-light" />
    </svg>
  </a>
</div>
<nav class="mf-header">
  <ul class="mf-header_links">
    {% for webpage in collections.webpage %}  
    <li class="mf-navlink" {% if webpage.url == page.url %}aria-current="true"{% endif %}><a href="{{webpage.url}}" class="mf-navlink_text">{{webpage.data.title}}</a></li>
    {% endfor %}
  </ul>
</nav>
{# <div class="mf-mobile" id="mobile-menu" data-open="false">
  <ul class="mf-mobile-links">
    {% for webpage in collections.webpage %}
      <li class="mf-navlink"><a href="{{webpage.url}}" class="mf-navlink_text">{{webpage.data.title}}</a></li>
    {% endfor %}
  </ul>
</div> #}

{# {% endif %} #}