.#{$namespace}-footer {
    background-color: $fung-primary-default;
    padding: 30px 0;
    text-align: center;

    @include breakpoint('sm') {
        text-align: left;
    }

    &_inner {
        @include wrapper;
    }

    &_row {
        display: flex;
        flex-flow: column;
        align-items: center;
        margin-bottom: 10px;

        > svg:first-child {
            margin-bottom: 20px;
        }

        @include breakpoint('sm') {
            flex-flow: row;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 15px;

            > svg:first-child {
                margin-bottom: 0;
            }
            
        }
    }

    &_social {
        display: grid;
        grid-template-columns: repeat(3, 30px);
        grid-gap: 10px;
        color: #fff;
    }
}