.#{$namespace}-footer {
  border-top: 2px solid var(--fung-black-default);
  padding: 30px 0;
  margin-top: 100px;
  text-align: center;

  @include breakpoint("sm") {
    text-align: left;
  }

  .#{$namespace}-link {
    color: var(--fung-link-dark-default);
  }

  &_inner {
    padding: 0 20px;
  }

  &_row {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-bottom: 10px;

    > svg:first-child {
      margin-bottom: 20px;
    }

    @include breakpoint("sm") {
      flex-flow: row;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 15px;

      > svg:first-child {
        margin-bottom: 0;
      }
    }
  }

  &_social {
    display: grid;
    grid-template-columns: repeat(3, 30px);
    grid-gap: 10px;
    color: var(--fung-black-default);

    svg {
      color: var(--fung-black-default);
    }
    a:hover svg {
      color: var(--fung-primary-default);
    }
  }
}
