.#{$namespace}-navlink {
  padding-top: 20px;
  display: block;
  font-family: Neue Haas Grotesk Text Pro;
  font-weight: bold;
  border-top: 1px solid #E9E9E9;
  margin-bottom: 20px;
  font-size: 24px;
  line-height: 30px;

  &_text {
    color: #000;
    text-decoration: none;
    font-size: 24px;
    line-height: 30px;

    &:focus {
      outline: 0;
      background-color: $fung-accent-one-default;
      text-decoration: underline;
      text-underline-offset: 0.1em;
      text-decoration-thickness: #{'max(4px, .0625rem)'};
      color: $fung-black-default;
    }
  }
}

.#{$namespace}-link {
  font-size: 16px;
  line-height: 20px;
  font-weight: normal;
  color: var(--fung-link-light-default);

  &:focus {
    outline: 0;
    background-color: $fung-accent-one-default;
    text-decoration-thickness: #{'max(4px, .0625rem)'};
    color: $fung-black-default;
  }

  &-inline {
    font-size: inherit;
    line-height: inherit;
    display: inline;
    text-decoration-thickness: #{'max(1px, .0625rem)'};
    text-underline-offset: 0.1em;

    &:hover {
      text-decoration: none;
    }
  }
}
