.#{$namespace}-navlink {
  border-left: 1px solid rgba($mfung-nav-text-colour, .2);
  padding: 10px 20px;
  
  &_text {
    display: block;
    background: none;
    outline: none;
    color: $mfung-nav-text-colour;
    font-family: $mfung-text-fonts;
    font-weight: bold;
    font-size: 1rem;
    line-height: 20px;
    margin-top: -1px; // Necessary evil as the glyphs pop out the bottom of the line-height
    height: 20px;
    padding: 0;
    text-decoration: none;
  }
  span {
    margin-right: 10px;
    vertical-align: top;
  }
  span,
  svg {
    display: inline-block;
  }
  svg {
    vertical-align: middle;
  }
}

.#{$namespace}-link {
  font-size: 16px;
  line-height: 20px;
  font-weight: bold;
  color: $mfung-accent-one;

  &-inline {
    font-size: inherit;
    line-height: inherit;
    display: inline;
  }
}