.#{$namespace}-logo {
  margin-bottom: 20px;
  
  svg {
    max-width: 200px;
    max-height: 100px;
    display: block;
  }
  a {
    display: block;
    margin-left: auto;
    padding: 20px 100px 20px 20px;
    color: var(--fung-white-default);

    &:hover use {
      color: var(--fung-primary-default);
    }

    @include breakpoint("md") {
      margin-left: 0;
      &:hover {
        background-color: var(--fung-primary-hover);
        use {
          color: var(--fung-white-default);
        }
      }
    }

    
    &:focus {
      outline: 0;
      background-color: var(--fung-accent-one-default);
      border-bottom: #{"max(1px, 0.0625rem)"} solid var(--fung-black-default);
      use:first-of-type,
      use:last-of-type {
        color: var(--fung-black-default);
      }
    }
  }
}
