.#{$namespace}-logo {
  margin-bottom: 20px;
  
  a, svg {
    max-width: 150px;
    max-height: 90px;
    display: block;
  }
  a {
    color: $fung-primary-default;
    use:first-of-type {
      color: $fung-primary-default;
    }
    use:last-of-type {
      color: $fung-accent-one-default;
    }
  }
  a:focus {
    outline: 0;
    background-color: $fung-accent-one-default;
    use:first-of-type,
    use:last-of-type {
      color: $fung-black-default;
    }
  }
}