.#{$namespace}-posts {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
  margin-bottom: 50px;
  list-style-type: none;

  @include breakpoint('md') {
    grid-template-columns: repeat(2, 1fr);
    li:first-child {
      grid-column: 1 / 3;
      .#{$namespace}-post_image {
        max-height: 400px;
      }
    }
  }

  @include breakpoint('lg') {
    grid-template-columns: repeat(3, 1fr);
    li:first-child {
      grid-column: 1 / 2;
      .#{$namespace}-post_image {
        max-height: 200px;
      }
    }
  }

}

.#{$namespace}-post {
  display: block;
  text-decoration: none;
  
  .mf-h3 {
    color: $fung-primary-default;
  }
  &_image {
    width: 100%;
    max-width: 100%;
    object-fit: cover;
    height: 200px;
    max-height: 200px;
    display: block;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba($fung-primary-default, 0.4);
    }
  }
  &_copy {
    padding: 20px;
  }
}