.#{$namespace}-skills {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 50px 107px;
    align-items: start;
    @include wrapper;
    
    @include breakpoint('lg') {
        grid-template-columns: repeat(2, 241px);
    }

    circle.filled {
        fill: var(--fung-primary-default);
    }
}