.#{$namespace}-social {
  display: grid;
  grid-template-columns:repeat(3,80px);
  grid-gap:20px;
  a:hover svg,
  a:focus svg {
    color: var(--fung-accent-one-default);
  }
  svg {
    color: var(--fung-primary-default)
  }
}
.#{$namespace}-social,
.#{$namespace}-footer_social {
  a, svg {
    display: block;
  }
  a:hover svg,
  a:focus svg {
    transition: color .3s ease;
  }
  svg {
    transition: color .3s ease;
  }
}