.#{$namespace}-body {
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 10px;
  max-width: 640px;
  color: $fung-black-light;

  @include breakpoint('sm') {
    font-size: 48px;
    line-height: 60px;
    max-width: 100%;
  }
  &-heavy {
    font-weight: 600;
    color: $fung-black-default;
  }
  &:last-of-type {
    margin-bottom: 30px;
  }
  & + h2 {
    margin-top: 30px;
  }
}

.#{$namespace}-title {
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 10px;
  font-weight: 600;
  max-height: 640px;
  color: $fung-black-light;

  @include breakpoint('sm') {
    font-size: 24px;
    line-height: 30px;
  }
}