.#{$namespace}-caption {
  font-weight: bold;
  font-size: 16px;
  color: $fung-black-default;
  line-height: 25px;
  margin-bottom: 5px;
  text-transform: uppercase;

  &-lg {
    font-size: 20px;
    line-height: 35px;
  }

  &-html {
    color: $fung-error-default;
  }

  &-css {
    color: $fung-success-default;
  }

  &-react {
    color: $fung-accent-two-default;
  }

  &-javascript {
    color: $fung-warning-default;
  }
}