<!doctype html>
<html lang="en" class="no-js">
<head>
  <meta charset="utf-8">
  <script>
    document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/g, '') + 'has-js ';
  </script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="{{ renderData.description or description or metadata.description }}">
  <title>{{ renderData.title or title or metadata.title }}</title>
  {% include "./_styles.njk" %}
</head>
<body id="top" itemscope itemtype="http://schema.org/WebPage">
  {% include "./_svgs.njk" %}
  <header>
  {% block header %}{% endblock %}
  </header>
  <main>
  {% block content %}{% endblock %}
  </main>
  <footer>
  {% block footer %}{% endblock %}
  </footer>
  {% include "./_scripts.njk" %}
</body>
</html>
