<!doctype html>
<html lang="en" class="no-js" data-dark="false">
<head>
  <meta charset="utf-8">
  <script>
    document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/g, '') + 'has-js ';
  </script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="{{ renderData.description or description or metadata.description }}">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#f2858e">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">
  <title>{%if pageTitle%}{{ pageTitle }}{%endif%} - Matthew Fung</title>
  {% include "./_styles.njk" %}
</head>
<body>
  {% include "./_svgs.njk" %}
  <header class="mf-header">
    {% include "./components/organisms/header.njk"%}
  </header>
  <main id="swup" class="transition-fade">
  {{content|safe}}
  </main>
  {# {% include "./components/organisms/footer.njk"%} #}
  {% include "./_scripts.njk" %}
</body>
</html>
