---
layout: layouts/base.njk
---
<section class="mf-section mf-section--post">
  <img class="mf-image mf-image--hero" src="{{featuredImage}}" alt=""/>
  <article class="mf-section_inner">
    <div class="mb-30">
      <p class="mf-caption col-primary-default">{{topics}}</p>
      <h1 class="mf-heading-xl">{{pageHeading}}</h1>
      <p class="mf-caption">{{page.date|postDate}} - {{length}} minute read</p>
    </div>
    <hr class="mf-divider mf-divider--full-width">
    <div>
    {{content|safe}}
    </div>
  </article>
</section>