---
layout: layouts/base.njk
---
<section class="mf-section mf-section--post">
  <img class="mf-image" src="{{featuredImage}}" alt=""/>
  <article class="mf-section_inner">
    <div class="mb-30">
      <p class="mf-caption col-accent-one">{{topics}}</p>
      <h1 class="mf-display">{{pageHeading}}</h1>
      <p class="mf-caption">{{page.date|postDate}} - {{length}} minute read</p>
    </div>
  </article>
  <hr class="mf-divider">
  <article class="mf-section_inner">
  {{content|safe}}
  </article>
</section>