---
layout: layouts/base.njk
---
<section class="mf-section">
  <p class="mf-caption col-accent-one">{{tags}}</p>
  <h1 class="mf-h1">{{pageHeading}}</h1>
  <p class="mf-caption">{{page.date|postDate}}</p>
  {{content|safe}}
</section>