* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-size: px-to-rem($base-font-size);
  scroll-behavior: smooth;
}

body {
  background-color: var(--fung-white-dark);
  margin: 0;
}
main,
section {
  display: block; // Not block level in IE..
}

header {
  background-color: var(--fung-white-default);
}
p,
a {
  font-size: 1rem;
  line-height: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
dl,
dd,
ol,
ul,
form,
legend,
figure,
table,
th,
td,
caption {
  margin: 0;
  padding: 0;
}

button {
  display: inline-block;
  border: none;
  margin: 0;
  text-decoration: none;
  font-family: sans-serif;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  transition: background 0.2s ease-in-out;
  @media (prefers-reduced-motion) {
    transition: none;
  }
  -webkit-appearance: none;
  -moz-appearance: none;
}
