//// 
/// @group settings/colours
////

@import "../02-tools/colour";

//============================
// Generic
//============================

/// Background
///
/// @type Colour
/// @access public
$mfung-background-colour: mf-colour("white", "default") !default;

/// Brand colour
///
/// @type Colour
/// @access public

$mfung-brand-colour: mf-colour("primary", "default") !default;

/// Text Colour
///
/// @type Colour
/// @access public
$mfung-text-colour: mf-colour("black", "default") !default;

/// Nav Text Colour
///
/// @type Colour
/// @access public
$mfung-nav-text-colour: mf-colour("white", "default") !default;

/// Nav Colour
///
/// @type Colour
/// @access public
$mfung-nav-colour: mf-colour("primary", "default") !default;
/// Nav Colour
///
/// @type Colour
/// @access public
$mfung-mobile-nav-colour: mf-colour("grey", "lighter") !default;

/// Accent 1 Colour
///
/// @type Colour
/// @access public
$mfung-accent-one: mf-colour("accent1", "default") !default;

/// Accent 2 Colour
///
/// @type Colour
/// @access public
$mfung-accent-two: mf-colour("accent2", "default") !default;

/// Divider Colour
///
/// @type Colour
/// @access public
$mfung-divider-colour: mf-colour("grey", "light") !default;