//// 
/// @group settings/colours
////

@import "../02-tools/colour";

//============================
// Primary
//============================

/// Primary - Darker
///
/// @type Colour
/// @access public
$fung-primary-darker: mf-colour("primary", "darker") !default;

/// Primary - Default
///
/// @type Colour
/// @access public
$fung-primary-default: mf-colour("primary", "default") !default;

/// Primary - Light
///
/// @type Colour
/// @access public
$fung-primary-light: mf-colour("primary", "light") !default;

/// Primary - Lighter
///
/// @type Colour
/// @access public
$fung-primary-lighter: mf-colour("primary", "lighter") !default;

//============================
// Accent One
//============================

/// Accent One - Darker
///
/// @type Colour
/// @access public
$fung-accent-one-darker: mf-colour("accent-one", "darker") !default;

/// Accent One - Dark
///
/// @type Colour
/// @access public
$fung-accent-one-dark: mf-colour("accent-one", "dark") !default;

/// Accent One - Default
///
/// @type Colour
/// @access public
$fung-accent-one-default: mf-colour("accent-one", "default") !default;

/// Accent One - Light
///
/// @type Colour
/// @access public
$fung-accent-one-light: mf-colour("accent-one", "light") !default;

/// Accent One - Lighter
///
/// @type Colour
/// @access public
$fung-accent-one-lighter: mf-colour("accent-one", "lighter") !default;


/// Accent One - Lightest
///
/// @type Colour
/// @access public
$fung-accent-one-lightest: mf-colour("accent-one", "lightest") !default;

//============================
// Accent Two
//============================

/// Accent Two - Darker
///
/// @type Colour
/// @access public
$fung-accent-two-darker: mf-colour("accent-two", "darker") !default;

/// Accent Two - Darker
///
/// @type Colour
/// @access public
$fung-accent-two-dark: mf-colour("accent-two", "dark") !default;

/// Accent Two - Default
///
/// @type Colour
/// @access public
$fung-accent-two-default: mf-colour("accent-two", "default") !default;

/// Accent Two - Light
///
/// @type Colour
/// @access public
$fung-accent-two-light: mf-colour("accent-two", "light") !default;

/// Accent Two - Lighter
///
/// @type Colour
/// @access public
$fung-accent-two-lighter: mf-colour("accent-two", "lighter") !default;


/// Accent Two - Lightest
///
/// @type Colour
/// @access public
$fung-accent-two-lightest: mf-colour("accent-two", "lightest") !default;

//============================
// Success
//============================

/// Success - Darker
///
/// @type Colour
/// @access public
$fung-success-darker: mf-colour("success", "darker") !default;

/// Success - Dark
///
/// @type Colour
/// @access public
$fung-success-dark: mf-colour("success", "dark") !default;

/// Success - Default
///
/// @type Colour
/// @access public
$fung-success-default: mf-colour("success", "default") !default;

/// Success - Light
///
/// @type Colour
/// @access public
$fung-success-light: mf-colour("success", "light") !default;

/// Success - Lighter
///
/// @type Colour
/// @access public
$fung-success-lighter: mf-colour("success", "lighter") !default;


/// Success - Lightest
///
/// @type Colour
/// @access public
$fung-success-lightest: mf-colour("success", "lightest") !default;

//============================
// Warning
//============================

/// Warning - Darker
///
/// @type Colour
/// @access public
$fung-warning-darker: mf-colour("warning", "darker") !default;

/// Warning - Dark
///
/// @type Colour
/// @access public
$fung-warning-dark: mf-colour("warning", "dark") !default;

/// Warning - Default
///
/// @type Colour
/// @access public
$fung-warning-default: mf-colour("warning", "default") !default;

/// Warning - Light
///
/// @type Colour
/// @access public
$fung-warning-light: mf-colour("warning", "light") !default;

/// Warning - Lighter
///
/// @type Colour
/// @access public
$fung-warning-lighter: mf-colour("warning", "lighter") !default;


/// Warning - Lightest
///
/// @type Colour
/// @access public
$fung-warning-lightest: mf-colour("warning", "lightest") !default;

//============================
// Error
//============================

/// Error - Darker
///
/// @type Colour
/// @access public
$fung-error-darker: mf-colour("error", "darker") !default;

/// Error - Dark
///
/// @type Colour
/// @access public
$fung-error-dark: mf-colour("error", "dark") !default;

/// Error - Default
///
/// @type Colour
/// @access public
$fung-error-default: mf-colour("error", "default") !default;

/// Error - Light
///
/// @type Colour
/// @access public
$fung-error-light: mf-colour("error", "light") !default;

/// Error - Lighter
///
/// @type Colour
/// @access public
$fung-error-lighter: mf-colour("error", "lighter") !default;


/// Error - Lightest
///
/// @type Colour
/// @access public
$fung-error-lightest: mf-colour("error", "lightest") !default;

//============================
// Grey
//============================

/// Grey - Darker
///
/// @type Colour
/// @access public
$fung-grey-darker: mf-colour("grey", "darker") !default;

/// Grey - Dark
///
/// @type Colour
/// @access public
$fung-grey-dark: mf-colour("grey", "dark") !default;

/// Grey - Default
///
/// @type Colour
/// @access public
$fung-grey-default: mf-colour("grey", "default") !default;

/// Grey - Light
///
/// @type Colour
/// @access public
$fung-grey-light: mf-colour("grey", "light") !default;

/// Grey - Lighter
///
/// @type Colour
/// @access public
$fung-grey-lighter: mf-colour("grey", "lighter") !default;


/// Grey - Lightest
///
/// @type Colour
/// @access public
$fung-grey-lightest: mf-colour("grey", "lightest") !default;

//============================
// Black
//============================

/// Black - Default
///
/// @type Colour
/// @access public
$fung-black-default: mf-colour("black", "default") !default;

/// Black - Light
///
/// @type Colour
/// @access public
$fung-black-light: mf-colour("black", "light") !default;

/// Black - Lighter
///
/// @type Colour
/// @access public
$fung-black-lighter: mf-colour("black", "lighter") !default;


/// Black - Lightest
///
/// @type Colour
/// @access public
$fung-black-lightest: mf-colour("black", "lightest") !default;

//============================
// White
//============================

/// White - Default
///
/// @type Colour
/// @access public
$fung-white-default: mf-colour("white", "default") !default;

/// White - Dark
///
/// @type Colour
/// @access public
$fung-white-dark: mf-colour("white", "dark") !default;

/// White - Darker
///
/// @type Colour
/// @access public
$fung-white-darker: mf-colour("white", "darker") !default;

$css-vars-use-native: true;

@import '../02-tools/css-vars';

@include css-vars((
  --fung-primary-darker: $fung-primary-darker,
  --fung-primary-default: $fung-primary-default,
  --fung-primary-light: $fung-primary-light,
  --fung-primary-lighter: $fung-primary-lighter,
  --fung-accent-one-darker: $fung-accent-one-darker,
  --fung-accent-one-dark: $fung-accent-one-dark,
  --fung-accent-one-default: $fung-accent-one-default,
  --fung-accent-one-light: $fung-accent-one-light,
  --fung-accent-one-lighter: $fung-accent-one-lighter,
  --fung-accent-one-lightest: $fung-accent-one-lightest,
  --fung-accent-two-darker: $fung-accent-two-darker,
  --fung-accent-two-dark: $fung-accent-two-dark,
  --fung-accent-two-default: $fung-accent-two-default,
  --fung-accent-two-light: $fung-accent-two-light,
  --fung-accent-two-lighter: $fung-accent-two-lighter,
  --fung-accent-two-lightest: $fung-accent-two-lightest,
  --fung-success-darker: $fung-success-darker,
  --fung-success-dark: $fung-success-dark,
  --fung-success-default: $fung-success-default,
  --fung-success-light: $fung-success-light,
  --fung-success-lighter: $fung-success-lighter,
  --fung-success-lightest: $fung-success-lightest,
  --fung-warning-darker: $fung-warning-darker,
  --fung-warning-dark: $fung-warning-dark,
  --fung-warning-default: $fung-warning-default,
  --fung-warning-light: $fung-warning-light,
  --fung-warning-lighter: $fung-warning-lighter,
  --fung-warning-lightest: $fung-warning-lightest,
  --fung-error-darker: $fung-error-darker,
  --fung-error-dark: $fung-error-dark,
  --fung-error-default: $fung-error-default,
  --fung-error-light: $fung-error-light,
  --fung-error-lighter: $fung-error-lighter,
  --fung-error-lightest: $fung-error-lightest,
  --fung-grey-darker: $fung-grey-darker,
  --fung-grey-dark: $fung-grey-dark,
  --fung-grey-default: $fung-grey-default,
  --fung-grey-light: $fung-grey-light,
  --fung-grey-lighter: $fung-grey-lighter,
  --fung-grey-lightest: $fung-grey-lightest,
  --fung-black-default: $fung-black-default,
  --fung-black-light: $fung-black-light,
  --fung-black-lighter: $fung-black-lighter,
  --fung-black-lightest: $fung-black-lightest,
  --fung-white-darker: $fung-white-darker,
  --fung-white-dark: $fung-white-dark,
  --fung-white-default: $fung-white-default,
));