////
/// @group settings/typography
////

$mfung-heading-fonts: "Neue Haas Grotesk Display Pro", Helvetica, Arial, sans-serif;
$mfung-text-fonts: "Neue Haas Grotesk Text Pro", Helvetica, Arial, sans-serif;
$mfung-code-fonts: "Source Code Pro", Consolas;
