////
/// @group settings/typography
////

$mfung-heading-fonts: "neue-haas-grotesk-display", Helvetica, Arial, sans-serif;
$mfung-text-fonts: "neue-haas-grotesk-text", Helvetica, Arial, sans-serif;
$mfung-code-fonts: "Source Code Pro", Consolas;
