@mixin wrapper {
  margin: 0 20px;
  @include breakpoint('lg') {
    max-width: 1008px;
    margin: 0 auto;
  }
  @include breakpoint('xl') {
    max-width: 1180px;
    margin: 0 auto;
  }
}
@mixin bottom-margin {
  margin: 0 20px 50px;
  @include breakpoint('sm') {
    margin: 0 40px 50px;
  }
  @include breakpoint('xl') {
    max-width: 1008px;
    margin: 0 auto 50px;
  }
}

@mixin mb-50 {
  margin: 0 20px 50px;
  @include breakpoint('sm') {
    margin: 0 auto 50px;
  }
  @include breakpoint('xl') {
    max-width: 1008px;
    margin: 0 auto 50px;
  }
}