@mixin wrapper {
  margin: 0 20px;
  @include breakpoint('sm') {
    margin: 0 40px;
  }
  @include breakpoint('xl') {
    max-width: 1260px;
    margin: 0 auto;
  }
}
@mixin bottom-margin {
  margin: 0 20px 50px;
  @include breakpoint('sm') {
    margin: 0 40px 50px;
  }
  @include breakpoint('xl') {
    max-width: 1260px;
    margin: 0 auto 50px;
  }
}