---
pageTitle: "About - Matt Fung - Lincoln UK"
description: "Information and details about Matt Fung"
title: "About"
date: "2021-02-23"
tags: webpage
layout: 'layouts/base.njk'
---
<div class="mf-divider mf-divider--full-width" aria-hidden="true"></div>
<section class="mf-section">
  <div class="mf-section_inner">
    <h1 class="mf-h1">About me</h1>
    <p class="mf-body col-black-light">I like to write about whatever springs to mind but it’s usually web industry related (design, development, culture etc.). You can also find my posts over on <a href="#" class="mf-link mf-link-inline">Medium</a>.</p>
  </div>
</section>