---
pageTitle: "Contact - fung"
description: "A front-end web developer with 4 years experience in the web industry"
title: "Contact"
date: "2021-02-24"
tags: webpage
layout: 'layouts/base.njk'
---
<section class="mf-section" data-callback="fadeUpEffect" data-fade-up>
  <article class="mf-section_inner">
    <h2 class="mf-heading-l">Fancy a chat?</h2>
    <p class="mf-body">I'm passionate about everything that I do on the web, and love to chat about anything web related. Feel free to drop me an email!</p>
    {% include './_includes/layouts/components/organisms/contact-form.njk'%}
  </article>
</section>