---
pageTitle: "Home - Fung"
description: "A front-end web developer with 4 years experience in the web industry"
title: "Homepage"
layout: 'layouts/base.njk'
---

{# Imports #}
{% from './_includes/layouts/components/atoms/_skill-point.njk' import skillPoint %}

{% set socialIcons = [{platform:"twitter",link:"https://twitter.com/MattFung_"}, {platform:"github",link:"https://github.com/mfung1"}, {platform:"linkedin", link:"https://www.linkedin.com/in/matthewfungwd/"}] %}
<section>
<h1 class="mf-heading-xl">Hey, my name is <span class="col-primary-default">Matthew Fung</span>. I work as a <span class="col-primary-default">Senior Front-End Developer</span> at the University of Lincoln.</h1>
</section>
<hr class="mf-divider mf-divider--full-width"/>
<section>
<h2 class="mf-heading-l">About</h2>
<p class="mf-body">I have 4 years of experience building websites in different industries. I am a front of the front-end developer based in Lincoln, UK. Passsionate about excellent user experiences.</p>
<p class="mf-body">I'm a massive fan of <a href="#" class="mf-link mf-link-inline">GDS</a> and their work in the accessibility and design systems space.</p>
<p class="mf-body">Visit my <a href="/about/" class="mf-link mf-link-inline">about page</a> if you want to learn more about me (including my CV).</p>
</section>
<hr class="mf-divider mf-divider--full-width"/>
<section>
<h2 class="mf-heading-l">Latest Posts</h2>
<p class="mf-body">I write about all things, web, design and anything else that comes to mind. You can subscribe to my posts through my <a href="#" class="mf-link mf-link-inline">newsletter</a> which I send every month.</p>
<p class="mf-body">The posts listed below are featured ones, the rest of my posts are <a href="#" class="mf-link mf-link-inline">available on the archive</a>.</p>
<ul class="mf-posts">
  {% set latestPosts = collections.posts|reverse %}
    {% for post in latestPosts %}
      <li>
        <a href="{{post.url}}" class="mf-post">
        <img src="{{post.data.featuredImage}}" width="248" height="140" class="mf-post-thumbnail" />
        <span class="mf-post-copy">
          <span class="mf-post-link">{{post.data.pageHeading}}</span>
          <span class="mf-post-date">Date published: DD/MM/YYYY</span>
        </span>
        </a>
      </li>
    {% endfor %}
</ul>
</section>
<hr class="mf-divider mf-divider--full-width"/>
<section>
  <h2 class="mf-heading-l">Get in Touch</h2>
  <p class="mf-body">I'm passionate about everything that I do. If you want to talk shop, or have an opportunity you think I'd suit, please get in touch using the form below.</p>
  <form class="mf-form">
    <label for="email-home" class="mf-label">Email Address</label>
    <input class="mf-field" id="email-home" type="email" />
    <label for="message-home" class="mf-label">Message</label>
    <textarea class="mf-field" rows="5" id="message-home"></textarea>
    <div>
      <button class="mf-button mf-button-primary" type="submit" id="submit-home">Send message</button>
    </div>
  </form>
</section>