---
pageTitle: "Home - Fung"
description: "A front-end web developer with 4 years experience in the web industry"
title: "Homepage"
layout: 'layouts/base.njk'
---

{# Imports #}
{% from './_includes/layouts/components/atoms/_skill-point.njk' import skillPoint %}

{% set socialIcons = ["twitter", "github", "linkedin"] %}

<section class="mf-hero mf-hero--pink" data-callback="playAnimation">
  <div class="mf-hero_inner">
    <h1 class="mf-oversized col-primary-default">Hey, I’m <span class="col-accent-one">Matt Fung</span>. Senior Front-End Developer at the <span class="col-accent-one">University of Lincoln</span>.</h1>
    <div class="mf-social">
      {% for socialIcon in socialIcons %}<svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="none" viewBox="0 0 30 30"><use xlink:href="#{{socialIcon}}" /></svg>{% endfor %}
    </div>
  </div>
</section>
<section class="mf-section mf-section--primary" >
  <div class="mf-section_inner">
    <h2 class="mf-caption mf-caption-lg col-accent-one">About</h2>
    <p class="mf-callout col-white">I have 4 years of experience building websites in different industries. <span class="col-white-dark">I am a creative developer based in Lincoln, UK. Passsionate about excellent user experiences.</span></p>
  </div>
</section>
<section class="mf-section bg-col-accent-two-lightest">
  <div class="mf-section_inner" data-callback="fadeUpEffect" data-fade-up>
    <h2 class="mf-headline mb-50">Latest posts</h2>
    <ul class="mf-posts mb-100">
      {% set latestPosts = collections.post|reverse %}
      {% for post in latestPosts.slice(0, 6) %}
      <li>
        <a href="{{post.url}}" class="mf-post">
          <img src="{{post.data.featuredImage}}" width="380" height="210" alt="" class="mf-post_image"/>
          <div class="mf-post_copy">
            <p class="mf-badge{%if post.data.topics%} mf-badge-{{post.data.topics}}{%endif%}">{{post.data.topics}}</p>
            <h3 class="mf-subheader" data-matchHeights="postHeading">{{post.data.pageHeading}}</h3>
            <p class="mf-body">{{post.data.length}} minutes – {{post.data.date|postDate}}</p>
          </div>
        </a>
      </li>
      {% endfor %}
    </ul>
    <h2 class="mf-headline mb-50">Featured Projects</h2>
    <ul class="mf-projects">
      {% set featuredProjects = collections.featuredProjects %}
      {% for project in featuredProjects.slice(0, 3) %}
      <li data-callback="fadeUpEffect" data-fade-up>
        <a href="{{project.url}}" class="mf-banner{% if loop.index == 2 %} mf-banner-reverse{% endif %}">
          <img class="mf-banner_img" src="{{project.data.featuredImage}}" alt="" height="350" width="580"/>
          <div class="mf-banner_copy">
            <h3 class="mf-title">{{project.data.pageTitle}}</h3>
            <p class="mf-body mb-0">{{project.data.description}}</p>
          </div>
        </a>
      </li>
      {% endfor %}
    </ul>
  </div>
</section>
<section class="mf-section mf-section--center bg-col-accent-one-dark">
  <div class="mf-section_inner">
    <svg class="mb-20" xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="none" viewBox="0 0 48 48"><use xlink:href="#mail"/></svg>
    <h2 class="mf-headline col-accent-one-lightest mb-30">Get in touch</h2>
    <p class="mf-subheader col-accent-one-lightest mb-50">Got a burning question or want to chat about the web? I'd be happy to talk shop.</p>
    <a href="/contact" class="mf-button mf-button-white-default mb-0">Send message</a>
  </div>
</section>

